# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
venv/
env/
ENV/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Local IDEs
.vscode/
.idea/
*.swp
*.swo
